*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

.auth-container{
display:flex;
height:100vh;
}

.left{
width:50%;

display:flex;
justify-content:center;
align-items:center;
}

.left-content{
color:black;
}

.left-content h2{
margin-bottom:80px;
font-style:italic;
}

.left-content span{
color:#1a73e8;
}

.left-content h1{
font-size:60px;
font-style:italic;
}

.left-content p{
font-size:35px;
margin-top:20px;
color:#ddd;
font-style:italic;
}

.right{
width:50%;
display:flex;
justify-content:center;
align-items:center;
background:#f7f7f7;
}

.card{
width:380px;
background:white;
padding:35px;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.card h2{
margin-bottom:20px;
}

.card label{
display:block;
margin-top:15px;
margin-bottom:5px;
}

.card input{
width:100%;
height:45px;
padding:10px;
border:1px solid #ccc;
border-radius:5px;
outline:none;
}

.password-box{
display:flex;
align-items:center;
border:1px solid #ccc;
border-radius:5px;
}

.password-box input{
border:none;
flex:1;
}

.password-box svg{
margin-right:15px;
cursor:pointer;
}

button{
width:100%;
height:45px;
margin-top:20px;
border:none;
background:#1a73e8;
color:white;
border-radius:5px;
cursor:pointer;
font-size:16px;
}



.row{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:15px;
}



.card p{
text-align:center;
margin-top:20px;
}

.card a{
text-decoration:none;
color:#1a73e8;
font-weight:600;
}

@media(max-width:900px){

.auth-container{
flex-direction:column;
}

.left,
.right{
width:100%;
}

.left{
height:40vh;
}

.right{
height:60vh;
}

.card{
width:90%;
}

.left-content h1{
font-size:40px;
}

.left-content p{
font-size:24px;
}

}


.theme-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: red;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  font-size: 20px;
}





.auth-container.dark .theme-toggle {
  background: #333;
  color: yellow;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: red;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  font-size: 20px;
}



   .auth-container.dark{
  background: #121212;
}


.auth-container.dark .left {
  background: #181818;
}

.auth-container.dark .left-content {
  color: #fff;
}

.auth-container.dark .left-content h2 {
  color: #fff;
}

.auth-container.dark .left-content h1 {
  color: #fff;
}

.auth-container.dark .left-content p {
  color: #bdbdbd;
}


.auth-container.dark .right {
  background: #202124;
}


.auth-container.dark .card {
  background: #2d2d2d;
  color: white;
  box-shadow: 0 10px 30px rgba(255,255,255,.08);
}

.auth-container.dark .card h2 {
  color: white;
}

.auth-container.dark .card label {
  color: white;
}

.auth-container.dark .card input {
  background: #3b3b3b;
  color: white;
  border: 1px solid #555;
}

.auth-container.dark .card input::placeholder {
  color: #bdbdbd;
}


.auth-container.dark .password-box {
  background: #3b3b3b;
  border: 1px solid #555;
}

.auth-container.dark .password-box svg {
  color: white;
}


.auth-container.dark button {
  background: #0d6efd;
  color: white;
}

.auth-container.dark button:hover {
  background: #0b5ed7;
}


.auth-container.dark a {
  color: #4da3ff;
}

